nav > a {
  color:black;
  padding:8px 16px;
  text-decoration: none;
  border-radius: 22px;
}

nav > a:hover{
    transition: 0.25s;
    scale: 1.2;
    background-color:rgb(56, 130, 209);
    color:white;
}